.logo {
  font-size: 4em;
  margin-bottom: 30px;
}
.test {
  border: 1px solid black;
}
.move-right {
  display:flex; 
  justify-content:flex-end;
}
.btw {
  margin: 10px 0;
  display: block;
}
.line-btn{
  color: #FFFFFF;
  background-color: #00C300;
  background-image: url('/images/btn_base.png');
  background-size: contain;
  background-position-x: 15px;
  background-repeat: no-repeat;
  display: block;
}
.line-btn:hover{
  background-color: #00E000;
  background-image: url('/images/btn_hover.png');
}
.line-btn:active{
  background-color:  #00B300;
  background-image: url('/images/btn_press.png');
}
.link-btn {
  padding-right: 0;
}
.hero-body-l {
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.athiti {
  font-family: 'Athiti', sans-serif;
}