
html, body {
  height: 100%;
}


.logo-nav {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
}
.logo {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: black;
  font-size: 5rem;
  margin-bottom: 1rem;
}
.test {
  border: 1px solid black;
}
.move-right {
  display:flex; 
  justify-content:flex-end;
}
.btw {
  margin: 10px 0;
  display: block;
}
.line-btn{
  color: #FFFFFF;
  background-color: #00C300;
  background-image: url('/images/btn_base.png');
  background-size: contain;
  background-position-x: 15px;
  background-repeat: no-repeat;
  display: block;
}
.line-btn:hover{
  color: #FFFFFF;
  background-color: #00E000;
  background-image: url('/images/btn_hover.png');
}
.line-btn:active{
  color: #FFFFFF;
  background-color:  #00B300;
  background-image: url('/images/btn_press.png');
}
.link-btn {
  padding-right: 0;
}
.hero-body-l {
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.athiti {
  font-family: 'Athiti', sans-serif;
}
.spartan {
  font-family: 'Spartan', sans-serif;

}
.container-form {
  max-width: 800px;
}
.topic {
  padding-left: 10%;
  padding-bottom: 20px;
}
.recipe-icon-box {
  padding-right: 0;
  padding-left: 0;
}
.recipe-icon {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}
.small-padding-btm {
  padding-bottom: 0.5em;
}

.no-padding-btm {
  padding-bottom: 0;
}

.no-padding-top-btm{
  padding-top: 0;
  padding-bottom: 0;
}

.datepicker {
  font-family: 'Athiti', sans-serif;
  font-size: inherit;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  padding-left: 0.5rem;
  max-width: 7em;
  margin-left: 0.5rem;
}
.my-datepicker-container {
  line-height: 2.5rem;
  text-align: right;
  display: inline-block;
}
.search-container {
  position: fixed;
}

.entry-select {
  font-family: 'Athiti', sans-serif;
  font-size: inherit;
  display: inline-block;
  position: relative;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.select{
  display: inline-block;
  vertical-align: middle;
  z-index: 0;
}

.entry-select-container {
  text-align: center;
 
}

.search-button {
  margin-top: 1.5rem;
  background-color: #F16750;
  color: #FFFFFF;
  display: inline-block;
}
.search-button:hover {
  background-color: rgb(248, 119, 96);
  font-weight: bold;
  color: #FFFFFF;
}
.card-container {
  max-width: 750px;
}

.no-padding-left {
  padding-left: 0;
}

.label {
  font-family: 'Athiti', sans-serif;
}

@media screen and (min-width: 769px), print {
   .field-label {
    flex-grow: 2; /* overwrites previous value of 1 */
  }
}

.gray-bg {
  background-color: #f8f8f9;
  min-height: 100%;
}

button{
  font-family: 'Athiti', sans-serif;
}

.button.centered {
  display: table;
  margin: 0 auto;
}

.section-home {
  padding: 1rem 1rem;
}

.error {
  color: red;
  font-size: 0.7rem;
  font-family: Athiti, sans-serif;
}

.error-big {
  color: red;
  font-size: 1rem;
  font-family: Athiti, sans-serif;

}

.loading-box {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container-touch.active{
  height:280px;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
   -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
       transition: height 0.3s linear;
}
.search-container-touch {
  border: 1px solid #dbdbdb;
  height:0;
  overflow: hidden;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
   -ms-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
       transition: height 0.3s linear;
}
.search-btn-mobile{
  border-radius: 4px 4px 0 0;
}

@-moz-keyframes slide /* Firefox */
{
from {max-height: 0;}
to {max-height: 300px;}
}

@-webkit-keyframes slide /* Safari and Chrome */
{
from {max-height: 0;}
to {max-height: 300px;}
}

@-o-keyframes slide /* Opera */
{
from {background: red;}
to {background: yellow;}
}

@-ms-keyframes slide /* IE10 */
{
from {max-height: 0;}
to {max-height: 300px;}
}

@keyframes slide
{
from {max-height: 0;}
to {max-height: 300px;}
}


/* #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
} */


/* .navbar-hover.navbar-item:hover {
  background-color: pink;
  color:red;
}

.navbar-end :hover {
  background-color: pink;
  color:red;
} */

.drop-down{
  align-items: center;
  display: flex;
  padding-right: 2.5em;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #FFF;
  margin-top: -0.375em;
  right: 1.125em;
}

.navbar-space{
  padding-top: 3.25rem;
}

.box {
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
  box-shadow: 2px 2px 3px 0 rgba(117,124,129,.12);
  border: 1px solid rgba(117,124,129,.12);
}
.field-label label{
  font-family: 'Athiti', sans-serif;
}

.line-noti-btn{
  border-color: #00C300;
}

.table-loading{
  display: flex;
  justify-content: center;
}

.lang-box{
  font-family: Athiti, sans-serif;
  cursor: pointer;
}

.long-box-login{
  position: fixed;
  right:10px;
  top:10px;
}

.lang-active{
  font-weight: bold;
}

input,span{
  font-family: athiti,sans-serif;
}
.my-box{
  display: block;
  border-bottom: 1px solid black;
}

.is-1rem{
  font-size: 1rem;
}

.add-btm-padding {
  padding-bottom: 13px;
}
.has-border-left{
  /* border-left: 1px solid rgb(230, 230, 230); */
  cursor: pointer;
}
.my-divider {
  display: inline-block;
  width: 0;
  height: 2em;
  border-left: 1px solid #ccc;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.more-btn {
  margin-top: 1em;
  background-color: #F16750;
  color: #FFFFFF;
}
.more-btn:hover {
  background-color: rgb(248, 119, 96);
  font-weight: bold;
  color: #FFFFFF;

}

.btn-animation .btn-back-to-top-active {
  display: block;
  visibility: visible;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform .35s ease-in-out;
  -moz-transition: -moz-transform .35s ease-in-out;
  -o-transition: -o-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.cssanimations .g1-back-to-top-off {
  visibility: hidden;
  -webkit-transform: translate(0,72px);
  -moz-transform: translate(0,72px);
  -ms-transform: translate(0,72px);
  -o-transform: translate(0,72px);
  transform: translate(0,72px);
  -webkit-transition: visibility 0s,-webkit-transform .35s ease-in-out;
  -webkit-transition-delay: .35s,0s;
  -moz-transition: visibility 0s .35s,-moz-transform .35s ease-in-out;
  -o-transition: visibility 0s .35s,-o-transform .35s ease-in-out;
  transition: visibility 0s .35s,transform .35s ease-in-out;
}

@media only screen and (min-width: 801px){
.btn-animation .btn-back-to-top {
  width: 34px;
  height: 34px;
}
}

.btn-back-to-top {
  display: block;
  visibility: hidden;
  width: 28px;
  height: 28px;
  border-width: 1px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  left: auto;
  bottom: 10px;
  z-index: 999;
  text-indent: 100%;
  white-space: nowrap;
  border-style: solid;
  border-color: transparent;
  background-color:salmon;
  color: #000;
  opacity: 0.8;
  border-radius: 4px;
  -webkit-transition: opacity 375ms ease-in-out;
  -moz-transition: opacity 375ms ease-in-out;
  -o-transition: opacity 375ms ease-in-out;
  transition: opacity 375ms ease-in-out;
}

.go-top-btn{
  display: block;
  border-radius: 50%;
  background-color: #000;
  width: 40px;
  height: 40px;
  opacity: 0.65;
  z-index: 999;
  -webkit-transition: opacity 375ms ease-in-out;
  -moz-transition: opacity 375ms ease-in-out;
  -o-transition: opacity 375ms ease-in-out;
  transition: opacity 375ms ease-in-out;
}
.go-top-icon{
  color: #FFF;
}

.MuiTableBody-root span,.MuiTableRow-head span{
  font-size: 16px;
  font-weight: bold;
}

.tabs span{
  font-size: 17px;
}

.navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
  font-weight: bold;
}

.lp-select input {
  font-family: 'Athiti',sans-serif;
}

.submit-btn{
 font-weight: bold;
}

.submit-btn:hover{
  background-color: whitesmoke;
  border-bottom-left-radius: 6px;
}
.cancel-submit-btn:hover{
  background-color: whitesmoke;
  border-bottom-right-radius: 6px;
}
.is-overflow{
  overflow: visible;
}
.is-horizontal-center {
  justify-content: center;
}

.my-card-footer {
  background-color: white;
  border-top: 1px solid #dadada;
  align-items: stretch;
  display: flex;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #dadada;
}

.modal-card { 
  overflow: visible
}

.modal-card-body {
  overflow: visible; 
 } 

.animated {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.my-hr {
  line-height: 0.9rem;
}